{% extends 'HomePage/base.html' %}
{% load static %}
{% block title %}
    Register
{% endblock  %}

{% block cssFiles %}
<link rel="stylesheet" href="{% static 'HomePage/register.css' %}">
{% endblock%}

{% block content %}

        <div class="login__container">
            <div class="card">
                <div class="head">
                    <h3>SIGN UP</h3>
                </div>
                <div class="form-control">
                    <form method="POST" action="{% url 'registerPage' %}">
                        {% csrf_token %}
                        {% for field in registerform  %}
                        {{field.label_tag}}
                        {{field}}
                        {% endfor %}
                       
                   <center><button type="submit">SIGN UP</button></center>
                </div>
            </div>
        </div>

{% endblock  %}