.login__container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 30rem;
    position: absolute;
    top: 20%;
    left: 25rem;
}

.login__container .card {
    width: 100%;
    height : 100%;
    border : solid 1px black;
    border-radius: 10px;
}

.login__container .card .head {
    
}